/*@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+Pro:ital@0;1&display=swap');*/
@import url("https://use.typekit.net/isj2oqo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  @apply text-purple-900;
}

h1 {
}

h3 {
}

svg {
  fill: currentColor;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.link {
  @apply text-purple-700 border-b-2 border-purple-700 border-opacity-30;
}

.link:hover {
  @apply text-purple-600 border-purple-600 border-opacity-80 transition-all;
}

.link.white {
  @apply text-purple-50 border-b-2 border-white border-opacity-30;
}

.link.white:hover {
  @apply text-white border-opacity-80 transition-all;
}

.button {
  @apply inline-block text-white no-underline py-3 px-5 uppercase tracking-wide rounded;
  @apply bg-gradient-to-b from-purple-600 to-purple-700;
  @apply transform transition;
}

.button:hover {
  @apply transform scale-105 transition;
}

#index-hero {
  background-image: url(/static/img/porch.jpg);  
  
  @apply bg-cover bg-center bg-fixed bg-purple;
}

@screen lg {
  #index-hero {
    clip-path: url(#hero-mask);
    min-height: 105vh;
  }
}

#site-footer-newsletter {
  background-image: url(/static/img/porch.jpg);  
  
  @apply bg-cover bg-center bg-fixed bg-purple;  
}

.heading {
  @apply text-4xl lg:text-8xl text-purple-800 font-display font-normal lg:font-light;
}

.lead {
  @apply text-2xl lg:text-3xl text-purple-800 my-4 max-w-4xl lg:leading-snug font-medium font-display;
}

.body-copy {
  @apply text-3xl; /* WHAT! TAilwind is applying line-height in rems with this */
}

.body-copy {
  @apply max-w-3xl text-xl leading-normal font-serif;
  @apply lg:text-2xl lg:leading-normal;
}

.body-copy > p:not(.first) {
  @apply indent-8;
  @apply sm:indent-16;
}

.typeset {
}

.typeset p {
}
.typeset p:not(:first-child) {
  @apply indent-12;
}