---
layout: default
title: Celeste Friend for Utica Common Council
path: home
---

{% include "./_includes/partials/index.hero.html" %}
{% include "./_includes/partials/index.vision.html" %}
{% include "./_includes/partials/index.meet.html" %}
{% include "./_includes/partials/index.join.html" %}

<div class="bg-purple-300 flex justify-between items-center p-8 lg:p-32 text-center">
  <div class="text-xl text-purple-500 mx-auto">Endorsements</div>
</div>

<!--
<div class="container mx-auto justify-center items-center">
  
  <h2>Newsletter</h2>
  
  <p>Stuff about Celeste’s newsletter. Sign up today for Celeste’s newsletter delivered monthly to your inbox!</p>
  
  <div><a class="link purple" href="#">Sign Up</a></div>

</div>

<div class="container mx-auto justify-center items-center">
  
  <h2>Meet Celeste</h2>
  
  <p>Stuff about Celeste.</p>
  
  <div><a class="button" href="#">About Celeste</a></div>

</div>

<div class="container mx-auto justify-center items-center">
  
  <h2>Get Involved</h2>
  
  <p>Donate or volunteer, etc.</p>
  
  <div><a class="button" href="#">Learn How to Get Involved</a></div>

</div>
-->

{# <div class="container mx-auto justify-center items-center">
  {% include "./_includes/partials/content.html" %}
</div> #}