---
layout: default
title: Donate to Celeste For Utica
path: newsletter
---

<div class="container mx-auto my-16 justify-center items-center">
  
  <h1 class="text-8xl text-purple-700 font-display font-light mt-16">Newsletter</h1>
  
  <p class="text-3xl text-purple-700 my-4 max-w-4xl leading-normal font-light">
    Celeste believes in the power of communication. She believes that democracy is stronger, and we are empowered as citizens when we are kept informed.
  </p>
  
  <div class="h-4"></div>

  <div class="sm:flex sm:space-x-8">

    <p class="max-w-3xl text-xl sm:text-2xl font-serif leading-normal sm:leading-normal">So she writes a regular monthly newsletter that keeps people informed of business before the Council, how she votes, and other important information about Utica in general and South Utica in particular. She also writes a series of newsletters called “How Utica Works,” which explains various functions of city government. Sign up today and be in the loop!</p>
  
    <div class="bg-purple-800 shadow sm:rounded-lg text-left my-8 sm:my-0">
      <div class="px-4 py-4 sm:p-8 text-3xl">
        <h3 class="text-3xl text-white leading-none">
          Stay Informed
        </h3>
        <div class="my-4 max-w-xl text-2xl text-white whitespace-nowrap">
          Sign up for Celeste’s newsletter
        </div>
        <form class="my-1 sm:flex sm:items-center" netlify>
          <div class="w-full sm:max-w-sm">
            <label for="email" class="sr-only">Email</label>
            <input type="text" size="30" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full max-w-full text-xl border-gray-300 rounded-md" placeholder="you@example.com">
          </div>
          <button type="submit" class="button text-base whitespace-nowrap ml-3">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <hr class="my-16">
  
  <h1 class="text-6xl text-purple-700 font-display font-light mt-16">Past Newsletters</h1>
  
  <section class="mt-15 font-sans">
    {% set postslist = collections.newsletters %}
    
    {% for post in postslist | reverse %}
      <article class="my-8">
        <div class="text-base leading-6 text-gray-500 mb-1">
          <time>{{ post.date | readableDate }}</time>
        </div>
        
        <h2 class="text-3xl text-gray-900 mb-2">
          <a href="{{ post.data.pdf | url }}">
            {% if post.data.title %}
              {{ post.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </h2>
        
        {% if post.data.description %}
          <div class="text-lg text-gray-500 mb-3">
            {{ post.data.description }}
          </div>
        {% endif %}
        
        <div class="text-lg">
          <a href="{{ post.data.pdf | url }}" class="link">
            Read More →
          </a>
        </div>
      
      </article>
    {% endfor %}
  </section>
  
</div>
