---
layout: default
title: Newsletter
path: newsletter
---

{% set h1 %}
  <span class="font-extrabold">Read</span> Celeste’s Newsletters
{% endset %}
{% include "./_includes/partials/page-header.njk" %}

<div class="container mx-auto my-8 sm:my-16 justify-center items-center">
  
  <p class="lead">
    Celeste believes in the power of communication. She believes that democracy is stronger, and we are empowered as citizens when we are kept informed.
  </p>
  
  <div class="h-4"></div>

  <div class="sm:flex sm:space-x-8">

    <p class="max-w-3xl text-xl sm:text-2xl font-serif leading-normal sm:leading-normal">So she writes a regular monthly newsletter that keeps people informed of business before the Council, how she votes, and other important information about Utica in general and South Utica in particular. She also writes a series of newsletters called “How Utica Works,” which explains various functions of city government. Sign up today and be in the loop!</p>
  
    <div class="bg-purple-800 shadow rounded-lg text-left my-8 sm:my-0">
      <div class="px-4 py-4 sm:p-8 text-3xl">
        <h3 class="text-3xl text-white leading-none">
          Stay Informed
        </h3>
        <div class="my-4 max-w-xl text-2xl text-white whitespace-nowrap">
          Sign up for Celeste’s newsletter
        </div>
        <form class="my-1 sm:flex sm:items-center space-y-4 sm:space-y-0" netlify name="Newsletter">
          <div class="w-full sm:max-w-sm">
            <label for="email" class="sr-only">Email</label>
            <input type="email" size="30" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full max-w-full text-xl text-black border-gray-300 rounded-md" placeholder="your email address" required>
          </div>
          <button type="submit" class="button text-base whitespace-nowrap sm:ml-3">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <hr class="my-8 sm:my-16">
  
  <h2 class="font-display font-purple font-light text-7xl mb-16">Newsletter Archives</h2>
  
  <!--
  <div class="flex items-center">
    <div class="text-lg text-purple-700 font-medium">
      <span class="relative z-0 inline-flex shadow-sm rounded-md">
        <button type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-purple-400 bg-white  bg-purple-200 hover:bg-purple-200 z-0 hover:z-10 focus:outline-none focus:ring-1 focus:ring-purple-500 focus:border-purple-500">
          All Newsletters
        </button>
        <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-purple-400 bg-white   hover:bg-purple-100 z-0 hover:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          South Utica Newsletter
        </button>
        <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-purple-400 bg-white   hover:bg-purple-100 z-0 hover:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          How Utica Works
        </button>
        <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-purple-400 bg-white  hover:bg-purple-100 z-0 hover:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          Other Newsletters
        </button>
      </span>  
    </div>
  </div>
  -->
  
  <section class="mt-16 font-sans">
    
    <div class="w-full sm:flex sm:space-x-8">
      <div class="space-y-12">

        {% for post in collections.newsletters | reverse %}
          
          <article class="">
            <div class="text-base leading-6 text-gray-500 mb-1">
              <time>{{ post.date | readableDate }}</time>
            </div>
            
            <h2 class="text-3xl text-gray-900 mb-2">
              <a href="{{ post.data.pdf | url }}" class="link" target="_blank">
                {% if post.data.title %}
                  {{ post.data.title }}
                {% else %}
                  Untitled
                {% endif %}
              </a>
            </h2>
            
            {% if post.data.toc %}
              <div class="text-lg text-gray-900 mb-2">
                <p class="">In this issue:</p>
                <ul class="list-disc">
                  {% for topic in post.data.toc %}
                    <li>{{ topic }}</li>
                  {% endfor %}
              </ul></div>
            {% endif %}
            
            <!--
            <div class="text-lg">
              <a href="{{ post.data.pdf | url }}" class="link">
                Download
              </a> (PDF)
            </div>
            -->
          
          </article>
        {% endfor %}
      </div>
      
    </div>
  </section>
  
</div>
