---
layout: default
title: Celeste’s Team
path: team
---

<div class="container mx-auto py-8 lg:py-16 justify-center items-center flow-root">
  
  <h1 class="heading">Our Team</h1>
  
  <p class="lead">Volunteers make many things happen. Thank you postcard writers&#8230; and canvassers, and people who cook dinners for volunteers, videographers, still photographers, web page designers, strategists, our treasurer, and more.
  </p>
  
  <div class="h-4 lg:h-8"></div>
  
  <div class="font-serif">

    {% set postslist = collections.bios %}
    
    {% for post in postslist | reverse %}
      <article class="my-8 flow-root">
        
        <h2 class="font-display text-4xl font-bold mb-3">
          <a href="{{ post.data.pdf | url }}">
            {% if post.data.name %}
              {{ post.data.name }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </h2>

        <img src="{{ post.data.photo }}" class="w-96 h-96 object-cover object-center float-right ml-8 mb-4 sm:mb-8 sm:-mt-4 transform sm:rotate-3 shadow rounded-lg" />
        
        {% if post.data.bio %}
          <div class="text-2xl mb-3 font-normal typeset max-w-3xl">
            {{ post.data.bio | markdown | safe }}
          </div>
        {% endif %}
      
      </article>
    {% endfor %}
    
  </div>
  
  <div class="h-8"></div>

  <p><a href="/join" class="text-xl button purple text-purple no-underline">Join Our Team</a></p>

</div>
