---
layout: default
title: Celeste’s Team
path: team
---

<div class="container mx-auto py-8 lg:py-16 justify-center items-center flow-root">
  
  <h1 class="text-4xl lg:text-8xl text-purple-800 font-display font-normal lg:font-light">Our Team</h1>
  
  <p class="text-2xl lg:text-3xl my-4 max-w-4xl leading-normal text-purple-800 font-light">Volunteers make many things happen&#8230; thank you postcard writers! &#8230;and canvassers, and people who cook dinners for volunteers, videographer, still photographer, web page designers, strategists, a treasurer, etc.
  </p>
  
  <div class="h-4 lg:h-8"></div>
  
  <div class="font-serif">

    {% set postslist = collections.bios %}
    
    {% for post in postslist | reverse %}
      <article class="my-8">
        
        <h2 class="font-display text-4xl font-bold mb-2">
          <a href="{{ post.data.pdf | url }}">
            {% if post.data.name %}
              {{ post.data.name }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </h2>

        <img src="{{ post.data.photo }}" class="w-96 h-96 object-cover object-center float-right ml-8 mb-8 transform rotate-3 shadow rounded-lg" />
        
        {% if post.data.bio %}
          <div class="text-2xl mb-3 font-normal">
            {{ post.data.bio }}
          </div>
        {% endif %}
      
      </article>
    {% endfor %}
    
  </div>
  
  <div class="h-8"></div>

</div>
