<div class="container bg-purple-200 bg-gradient-to-b from-purple-200 to-purple-50 mx-auto justify-center items-center py-16 rounded-3xl">

  <h2 class="text-8xl font-display font-light text-purple text-center mt-8">Endorsements</h2>

  <div class="max-w-4xl mx-auto flex">
    
    <div class="w-full">
      
      <div class="text-2xl leading-normal font-serif font-normal">
        <p class="font-sans font-normal antialiased leading-snug text-3xl my-8">​We believe in working with other groups in our community. That is why we seek the endorsements of community groups, labor unions, and political parties. We are all in this fight for a better world!
      </p>
                    
        <p class="my-4 max-w-2xl">In 2021, Celeste has earned the endorsement of:  The City of Utica Democratic Committee; the Working Families Party; 1199SEIU, a labor union for healhcare workers; Trailblazers PAC, a good government political action committee; Citizen Action, a progressive community-organizing group dedicated to empowering citizens.</p>
        
      </div>

      <div class="my-8 text-3xl text-purple">
        <a href="/endorsements" class="link">Read Celeste’s bio</a> &rarr;
      </div>

    </div>

  </div>
  
</div>