<div class="bg-purple-800 py-8 sm:py-16 text-white">

  <h2 class="text-5xl sm:text-8xl font-display font-light text-white text-center mt-8">Join Our Team</h2>

  <div class="max-w-4xl mx-auto flex">
    
    <div class="w-full mx-4">
      
      <div class="text-center text-2xl leading-normal font-serif font-normal">
        <p class="font-sans font-normal antialiased leading-snug text-2xl sm:text-3xl my-8">
          Running an active campaign at the grassroots level is fundamental to our vision of creating a robust democracy with strong constituent engagement. Please join our campaign for a better future for Utica!</p>
        </p>
      </div>

      <div class="my-8 text-3xl text-center text-white">
        <a href="/volunteer" class="link white">Join our team</a> &rarr;
      </div>

    </div>

  </div>
  
</div>