<div class="container mx-auto justify-center items-center py-8 lg:py-16 px-4">

  <h2 class="text-5xl lg:text-8xl font-display font-light text-purple text-center lg:mt-8 leading-tight">Celeste’s Vision for Utica</h2>

  <div class="max-w-4xl mx-auto flex">
    
    <div class="w-full">
      
      <div class="text-2xl leading-normal font-serif font-normal">
        <p class="font-sans font-normal antialiased leading-snug text-3xl my-8">Since being sworn into office on January 1, 2020, I have worked hard to bring transparent, accessible, and responsive representation to the people of Utica’s Third Ward.</p>
          
        <img src="/static/img/porch-square.jpg" class="transform rotate-2 float-right w-1/2 ml-12 -mr-4 mt-2 mb-8 shadow-2xl rounded-2xl" />
          
        <p class="my-4 max-w-2xl">My commitment to the goals of robust democracy have brought me into regular contact with my Constituents. I have resolved dozens upon dozens of Constituents’ issues, from the need for new stop signs to help get problem trees cut down. I have consistently brought to the Council’s attention the need to be accountable and transparent to the voters of Utica.</p>
          
        <p class="my-4 max-w-2xl">I am excited to be running for reelection in 2021. I need your support in order to continue fighting to make Utica a place where everyone can thrive and be heard and know that they are represented in our democracy. Please join me!</p>
      </div>

      <div class="my-8 text-3xl text-purple">
        <a href="/vision" class="link">Learn more about Celeste’s vision for Utica</a> &rarr;
      </div>

    </div>

  </div>
  
</div>