<div class="py-8 lg:py-16">

  <h2 class="text-5xl lg:text-8xl font-display font-light text-purple text-center lg:mt-8 lg:mb-8 leading-tight">Celeste’s Vision for Utica</h2>

  <div class="container mx-auto justify-center items-center">

    <div class="max-w-4xl mx-auto flex">
      
      <div class="w-full">
        
        <div class="text-xl sm:text-2xl leading-normal font-serif font-normal">

          <p class="text-3xl my-4 sm:mb-8 max-w-3xl font-sans">
            From the beginning, I have campaigned to create a more engaged and informed electorate. I believe that democracy is stronger when we know more and participate more.
          </p>
          
          <img src="/static/img/porch-square.jpg" class="transform sm:rotate-2 float-right sm:w-1/2 sm:ml-12 sm:-mr-4 mt-4 mb-8 shadow-2xl rounded-2xl" />

          <p class="my-4 max-w-2xl">I run big, active, people-powered campaigns with dozens of Volunteers who talk to hundreds and hundreds of people. Why? Because I believe that we ought to run a campaign that reflects how I intend to govern. I believe in, and I want, the kind of democracy where we are all engaged, where everyone’s voices are heard, where we all get to be part of the decisions about how to create the city we want to live in.</p>

        </div>
  
        <div class="my-4 sm:my-8 text-2xl sm:text-3xl text-purple">
          <a href="/vision" class="link">Learn more about Celeste’s vision for Utica</a> &rarr;
        </div>
  
      </div>
  
    </div>
    
  </div>
</div>