<div class="py-8 lg:py-16 bg-purple-200">

  <h2 class="text-4xl lg:text-8xl font-display font-light text-purple text-center lg:mt-8 lg:mb-0 leading-tight mx-4">
    Who is Celeste Friend?
  </h2>

  <div class="container mx-auto justify-center items-center">

    <p class="max-w-4xl mx-auto text-2xl sm:text-3xl text-purple my-4 sm:mt-2 sm:mb-12 font-sans font-normal text-center">
      Celeste is your voice and your vote in City Hall. Together, we can create CommUNITY and OpportUNITY in South Utica.
    </p>

    <div class="max-w-4xl mx-auto flex">
      
      <div class="w-full">
  
  <div class="embed-container">
    <iframe src='https://www.youtube.com/embed/cLKbhzvGq_s' frameborder='0' allowfullscreen></iframe>
  </div>
  
        <div class="my-4 sm:my-8 text-2xl sm:text-3xl text-purple">
          <a href="/videos" class="link leading-tight">Watch more of Celeste’s videos</a> &rarr;
        </div>
  
      </div>
  
    </div>
    
  </div>
</div>