<div class="container bg-purple-200 bg-gradient-to-b from-purple-200 to-white mx-auto justify-center items-center py-4 sm:py-16 sm:rounded-3xl">

  <h2 class="text-5xl sm:text-8xl font-display font-light text-purple text-center mt-8">Meet Celeste</h2>

  <div class="max-w-4xl mx-auto flex">
    
    <div class="w-full mx-4">
      
      <div class="text-xl sm:text-2xl leading-normal font-serif font-normal">
        <p class="font-sans font-normal antialiased leading-snug text-xl sm:text-3xl my-8">Since being sworn into office on January 1, 2020, I have worked hard to bring transparent, accessible, and responsive representation to the people of Utica’s Third Ward.</p>
          
        <img src="/static/img/headshot.jpg" class="transform float-left sm:w-1/3 sm:mr-8 mt-2 mb-8 shadow-2xl rounded-2xl" />
          
        <p class="my-4">Celeste has always enjoyed all her various roles and the challenges of learning new things: being a Philosopher, teaching college, forging jewelry and marketing it to people, directing a large, multi-faceted Festival. But maybe being a Public Servant is what she has loved the most. She hopes that the people of South Utica feel well-served by her efforts and will re-elect her in 2021.</p>
        
      </div>

      <div class="my-4 sm:my-8 text-2xl sm:text-3xl text-purple">
        <a href="/about" class="link">Read Celeste’s bio</a> &rarr;
      </div>

    </div>

  </div>
  
</div>