<div class="bg-purple-50 py-16">
  <div class="container">
  
    <h2 class="text-4xl lg:text-8xl font-display font-light text-purple text-center lg:mt-8 lg:mb-8 leading-tight mx-4">
      Endorsements
    </h2>

    <div class="mx-auto justify-center items-center">
  
      <p class="max-w-5xl mx-auto text-2xl sm:text-3xl text-purple my-4 sm:mt-2 sm:mb-12 font-sans font-normal text-center">
        We believe in working with other groups in our community. That is why we seek the endorsements of community groups, labor unions, and political parties. We are all in this fight for a better world!
      </p>
      
      <p class="max-w-5xl mx-auto text-2xl leading-normal font-serif font-normal">In 2021, Celeste has earned the endorsement of:
        <a href="https://oneidacountydemocrats.org" class="link">The City of Utica Democratic Committee</a>;
        
        the <a href="https://workingfamilies.org/state/new-york/" class="link">Working Families Party</a>;
        
        <a href="https://www.seiu.org" class="link">1199SEIU</a>, a labor union for healthcare workers;
        
        <a href="https://trailblazerspac.com" class="link">Trailblazers PAC</a>, a good government political action committee;

        <a href="https://www.facebook.com/UpstateProgressivePAC/" class="link">Upstate Progressive PAC</a>;
        
        <a href="https://www.servenypac.com" class="link">ServeNY</a>, an organization that promotes leaders with proven records of service;
        
        <a href="https://www.citizenactionny.org" class="link">Citizen Action</a>, a progressive community-organizing group dedicated to empowering citizens;
        
        <a href="https://ufcwone.org" class="link">UFCW District Union Local One</a>, a labor union for food and commercial workers;

        <a href="https://cseany.org/r5" class="link">CSEA Central Region 5</a>, one of New York’s largest worker unions;
      
        <a href="https://cnylaborcouncil.org/" class="link">Central New York Labor Council</a>, a group that advocates for local workers;
        
        and <a href="https://www.sierraclub.org" class="link">The Sierra Club</a>, the most influential grassroots environmental organization in the United States.
      </p>
      
      <div class="h-8"></div>
      
      <div class="my-8 w-full flex justify-center flex-wrap">
        
        <a href="https://oneidacountydemocrats.org" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110 bg-white"
            src="/static/img/endorsements/democratic-party.png">
        </a>
        <a href="https://workingfamilies.org/state/new-york/" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/ny-wfp.png">
        </a>
        <a href="https://www.seiu.org" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/seiu.png">
        </a>
        <a href="https://trailblazerspac.com" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/trailblazers-pac.jpg">
        </a>
        <a href="https://www.servenypac.com" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/serveny-pac.png">
        </a>
        <a href="https://cseany.org/r5" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/csea.png">
        </a>
        <a href="https://www.facebook.com/UpstateProgressivePAC/" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/up-pac.png">
        </a>
        <a href="https://citizenactionny.org" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/citizen-action.png">
        </a>
        <a href="https://ufcwone.org" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110 bg-white"
            src="/static/img/endorsements/ufcw-local-one.png">
        </a>
        <a href="https://cnylaborcouncil.org/" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/cny-labor-council.jpg">
        </a>
        <a href="https://www.sierraclub.org" class="w-1/3 sm:w-1/4 md:w-1/4">
          <img class="rounded-full shadow-lg w-full h-auto transform scale-110"
            src="/static/img/endorsements/sierra-club.jpg">
        </a>
    
      </div>
    
    </div>
  </div>
</div>