<div class="bg-purple-800 py-16 text-white">

  <h2 class="text-8xl font-display font-light text-white text-center mt-8">Join Our Team</h2>

  <div class="max-w-4xl mx-auto flex">
    
    <div class="w-full">
      
      <div class="text-center text-2xl leading-normal font-serif font-normal">
        <p class="font-sans font-normal antialiased leading-snug text-3xl my-8">Big block with here intro copy describing how great it is to be on Celeste’s campaign team and what sort of opportunities there are.
      </p>
                    
        <p class="my-4 text-center">Probably some photos of the team, just enough to pique your interest and make you click through to the main 'Join Our Team' page</p>
        
      </div>

      <div class="my-8 text-3xl text-center text-white">
        <a href="/join" class="link white">Join our team</a> &rarr;
      </div>

    </div>

  </div>
  
</div>