<div class="page-header bg-purple-800">
  <div class="flex items-center justify-center lg:justify-between flex-wrap p-0 py-8 md:pt-24 md:pb-8 px-4 lg:px-0 container mx-auto">
    <h1 class="w-full font-display font-extralight text-white text-6xl lg:text-8xl">{{ h1 | safe }}</h1>
  </div>
</div>
