<div class="flex flex-col justify-center items-center relative">
  
  <div class="mx-auto absolute inset-0 z-20 text-center text-white flex justify-center items-center">
    <div class="mx-4 mt-32">
      <h1 class="text-9xl font-display font-extralight">
        <span class="">Utica for</span>
        <span class="font-black uppercase"><span class="relative uppercase">all<svg class="absolute top-full left-0 w-full text-white -ml-0.5 -mt-4" viewBox="0 0 160 32" xmlns="http://www.w3.org/2000/svg"><path d="M 4 24 Q 72 -4 156 12" stroke="currentColor" stroke-width="6" fill="transparent" /></svg></span>
        &nbsp;of us</span>
      </h1>
      
      <div class="max-w-5xl mx-auto flex items-center my-16">
        <div class="text-4xl font-sans text-left font-light my-16 max-w-4xl mx-auto leading-snug">        
          <p class="-indent-4">“This city has long been run by a few, for the sake of a few. I want a Utica that works for all of us.”</p>
        </div>
                  
        <div class="bg-purple-700 bg-opacity-70 shadow sm:rounded-lg text-left ml-8">
          <div class="px-4 py-5 sm:p-8 text-3xl">
            <h3 class="text-3xl leading-snug">
              Stay Informed
            </h3>
            <div class="mt-2 max-w-xl text-2xl whitespace-nowrap">
              Sign up for Celeste’s newsletter
            </div>
            <form class="mt-5 sm:flex sm:items-center" netlify name="Newsletter">
              <div class="w-full sm:max-w-xs">
                <label for="email" class="sr-only">Email</label>
                <input type="email" size="30" name="email" id="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-60 max-w-full text-xl text-black border-gray-300 rounded-md" placeholder="your email address" required>
              </div>
              <button type="submit" class="button text-base whitespace-nowrap ml-3">
                Sign up
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <div class="relative z-10">
    <div class="absolute inset-0 bg-purple-700 bg-gradient-to-b from-purple-700 to-transparent opacity-90 bg-blend-multiply"></div>
    <img class="w-full h-screen object-cover object-center blur-lg" src="/static/img/porch.jpg" />
  </div>

</div>